<div class="user-interests light-star-card background-white">
  <div class="chart-container" style="position: relative; height: 30vh; width: 60vw;">
    <canvas id="myChart" data-data="<%= @data.to_json %>"></canvas>
  </div>
</div>
