<div class="user-jobs light-star-card-border-top-no-hover background-white">
  <h4 class="margin-top-0">Des métiers qui peuvent t'intéresser</h4>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 no-padding">
      <div class="suggested-job">
        <div class="job-icon">
          <i class="job-icon-grow fas fa-wrench"></i>
        </div>
        <div class="job-title">
          Ingénieur-Mécanique
        </div>
        <div class="job-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 no-padding">
      <div class="suggested-job">
        <div class="job-icon">
          <i class="job-icon-grow fas fa-screwdriver"></i>
        </div>
        <div class="job-title">
          Technicien-Mécanique
        </div>
        <div class="job-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 no-padding">
      <div class="suggested-job">
        <div class="job-icon">
          <i class="job-icon-grow fas fa-star"></i>
        </div>
        <div class="job-title">
          Astronome
        </div>
        <div class="job-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 no-padding">
      <div class="suggested-job">
        <div class="job-icon">
          <i class="job-icon-grow fas fa-briefcase-medical"></i>
        </div>
        <div class="job-title">
          Médecin
        </div>
        <div class="job-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </div>
      </div>
    </div>
  </div>
</div>
