<div class="user-profile light-star-card background-white">
  <h2><%= user.username %></h2>
  <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "profile-avatar", id: "navbar-wagon-menu" %>
  <p>Email: <%= user.email %></p>
</div>
