<div class="user-profile light-star-card background-white position-relative">
  <%= link_to "Modifier", edit_user_registration_path, class: 'top-left-link' %>
  <div class="user-info">
    <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "profile-avatar", id: "navbar-wagon-menu" %>
    <div>
      <h2><%= user.username %></h2>
      <p><%= user.email %></p>
    </div>
  </div>
</div>
