
<div class="container">
  <div class="user-grid">
    <%= render 'profile', user: @user %>
    <%= render 'jobs', user: @user %>
    <%= render 'interests_graph', user: @user %>
    <%= render 'history', user: @user %>
  </div>
</div>






