<div class="video-wrapper">
  <div class="container">
        <iframe  width="966" height="543" src="https://www.youtube.com/embed/<%= video.youtube_id %>?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>
