<!-- <iframe width="560" height="315" src="https://img.youtube.com/vi/#{youtube_id}/0.jpg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->

<div class="container">
  <div class="row">
    <% @videos.each do |video| %>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <%= link_to video_path(video) do %>
          <div class="card">
            <div class="card-img" style="background-image: url('https://img.youtube.com/vi/<%= video.youtube_id %>/0.jpg')">
            </div>
            <div class="card-content">
              <div class="details">
                <p><i class="far fa-comments"></i></p>
                <p><i class="far fa-eye"></i></p>
                <p><i class="far fa-clock"></i></p>
              </div>
              <div class="description">
                <p><%= video.title %></p>
              </div>
              <div class="footer">
                <p>Jake Johnson</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
