<!-- <div class="jumbotron"> -->
  <div class="jumbotrone-wrapper">
    <div class="jumbotrone-head">
      <div class="container ">
        <div class="max-width-content"><h1>Découvre ton chemin.</h1>
          <p>Trouve ce qui vous plait. Vas plus loin en dévoilant les sujets qui t'intéressent. </p>
          <%= link_to "S'incrire", new_user_registration_path, class: 'btn btn-primary btn-jumbotrone'  %></div>
      </div>
    </div>
  </div>
<!-- </div> -->
