<!-- <div class="jumbotron"> -->
  <div class="jumbotrone-wrapper">
    <div class="jumbotrone-head">
      <div class="container ">
        <div class="max-width-content"><h1>Hello, world!</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit eos sequi  </p>
          <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg btn-jumbotrone'  %></div>
      </div>
    </div>
  </div>
<!-- </div>
 --><hr>
