

<div class="container">
  <% if @videos.count != 0 %>
    <!-- <h4 class="text-center">Résultats</h4> -->
    <div class="container">
      <%= render 'iframe_img', videos: @videos %>

    </div>
  <% else %>
    <% flash[:alert] = "Nous mettons nos catégories à jour, merci de réessayer ta recherche plus tard." %>
  <% end %>
</div>
