

<div class="container">
  <% if @videos.count != 0 %>
    <h1 class="text-center">Your results</h1>
    <%= render 'iframe_img', videos: @videos %>
  <% else %>
    <% flash[:alert] = "Video does not exist!! Please search again." %>
  <% end %>
</div>
