// function refreshForm(innerHTML) {
//   const newReviewForm = document.getElementById('new_review');
//   newReviewForm.innerHTML = innerHTML;
// }



// function addReview(reviewHTML) {
//   const reviews = document.getElementById('reviews');
//   reviews.insertAdjacentHTML('beforeend', reviewHTML);
// }

function closeHelpDiv(){
document.querySelector('.disappear-in-seconds').style.display="none";
}

function changeTextButton() {
  const button = document.querySelector('.recomandation');
  button.insertAdjacentHTML('beforeend', '<span class="disappear-in-seconds">Updated</span>')
  window.setTimeout("closeHelpDiv();", 3000);


}

changeTextButton();



