.jumbotron {
  background-color: $off-white;
}

.jumbotrone-wrapper {
  // display: flex;
  // justify-content: space-around;

  background-color: $off-white;
  background-image: linear-gradient(-225deg, rgba(0,255,0,0.4) 0%, rgba(0,255,0,0.2) 50%), asset-url('jumbotrone-img1');
  background-size: cover;
  background-position: center;
  min-height: 400px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotrone-img {

  // min-width: 300px;
  // flex: 0 0 50%;
}

.max-width-content {
  max-width: 300px;


  // flex: 0 0 50%;
}
