.disappear-in-seconds {
  font-size: 35px;
}

// .disappear-in-second span {
//   margin-top: 20px;
// }

#updated {
  color: $secondary;
  display: flex;
  justify-content: space-around;
  margin-left: -25px;

}
