.disappear-in-seconds {
  font-size: 35px;
  padding-left: 15px;
  // margin-left: -25px;
  // position: absolute;
  // right: 0;
}

// .disappear-in-second span {
//   margin-top: 20px;
// }

#updated {
  // position: relative;
  color: $secondary;
  display: flex;
  justify-content: flex-start;
  // margin-left: -25px;

}
