body {
  background-color: $off-white;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
.text-primary {
  color: $primary;
}
.text-secondary {
  color: $secondary
}
.borderless-no-radius {
  border: none;
  border-radius: 0;
}
.pad-top-bottom-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
