body {
  background-color: $off-white;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
.text-primary {
  color: $primary;
}
.text-secondary {
  color: $secondary
}
.borderless-no-radius {
  border: none;
  border-radius: 0;
}
.pad-top-bottom-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-cards {
  padding: 0 1px;
}

.pad-bottom-30 {
  padding-bottom: 30px;
}
.light-star-card-border-top {
  border-top: solid $secondary 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.light-star-card-border-top:hover {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
}
.light-star-card {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.light-star-card-no-hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.light-star-card-border-top-no-hover {
  border-top: solid $secondary 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.light-star-card:hover {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
}
.background-white {
  background-color: white;
}
.top-right-link {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 12px;
  color: $secondary;
}
.top-left-link:hover {
  opacity: 0.5;
  color: $secondary;
}
.position-relative {
  position: relative;
}
.margin-top-0 {
  margin-top: 0;
}
.fixed-height-20 {
  height: 20px;
}
.padding-15 {
  padding: 15px 0;
}
.padding-30 {
  padding: 30px;
}
