.grid-show {
  // grid-template-columns: auto 300px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-control:focus {
  border-left: $secondary 4px solid;
  border-color: $secondary;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(39, 174, 96, 0.5);
}
.recomandation {
  // padding: 10px;
  // box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  // border-radius: 5px;
  // border: 1px solid $secondary;
}

.wrapper-row {
}

.verified-wrapper  {

}

.verified p  {
  opacity: 0;
}

.verified p:hover {
  opacity: 1;
  cursor: pointer;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}

.video-content {
  height: 250px;
  overflow: auto;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid $secondary;
}

.headline {
  margin-bottom: 100px;
}

.bottom-video {
  height: auto;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.video-details-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 768px) {

  .grid-show {
    flex-direction: row;
  }

  .recomandation {
    flex: 0 0 25%;
  }

  .wrapper-row {
    flex: 1 1 auto;
    padding-right: 50px;
  }
}





